    <header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="login-buttons"><button class="btn">log in</button><button class="btn">sign up</button></div>

  </header>


<h1 class="h1-index">CROWDed</h1>
<body class="body-index">
    <div class="transbox">
    <p>Hate people? Us too.
        <br> Don't just beat the crowd,</br> 
            <br> avoid it.
            </p>
    </div>
  <br>
  <br>
  <br>
<button class="btn"><a href="/places">-find a place-</a></button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>