<h1 class="h1-index">{{title}}</h1>
<body class="body-index">
    <div class="transbox">
    <p>Hate people? Us too.
        <br> Don't just beat the crowd,</br> 
            <br> avoid it.
            </p>
    </div>
    <body>

  {{!-- <div class="button-link">
<button><a href="/places">FIND A PLACE</a></button>
<a href="#" class="btn btn-blue">Blue Button</a> --}}
<button class="btn"><a href="/places">-places-</a></button>