<<<<<<< HEAD
<h3 class="h3-index">{{title}}</h3>
<body class="container">
=======
    <header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="login-btn"><a href="#"><button class="btn">log in</button></a><a href="#"><button class="btn">sign up</button></a></div>

  </header>


<h1 class="h1-index logo">CROWDed</h1>

<body id="body-index">
>>>>>>> 9435a191a6926320b5601fe2f78d899ac77da678
    <div class="transbox">

    <p>Hate people? Us too.
        <br> Don't just beat the crowd,</br> 
            <br> avoid it.
            </p>
    </div>
  <br>
  <br>
  <br>
<a href="/places"><button class="btn">-find a place-</button></a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>