<!DOCTYPE html>
<html>
  <head>
    {{!-- font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Dosis', sans-serif; --}}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Dosis|Raleway|Roboto|Spectral" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Stint+Ultra+Condensed" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
  </head>
  

  <body>
     {{!-- <header class="header"> --}}
    {{!-- <h5>{{title}}</h5> --}}
    {{!-- <div id="back-button"><button class="btn">back</button></div><div id="login-buttons"><button class="btn">log in</button><button class="btn">sign up</button></div>

  </header>  --}}
  <div class="main">
    {{{body}}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
    <footer class='footer'>
    <p><span class="logo">CROWDed</span> made with &hearts; by Aubrey Ellis, Jess Gardner, & Kris Green</p>
  </footer>

  </body>

  {{!-- <footer class='footer'>
    <p>Made with &hearts; by Aubrey Ellis, Jessica Gardner, & Kris Green</p>
  </footer> --}}
</html>
