<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style2.css' /> 
   {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  

  <body>
     {{!-- <header class="header"> --}}
    {{!-- <h5>{{title}}</h5> --}}
    {{!-- <div id="back-button"><button class="btn">back</button></div><div id="login-buttons"><button class="btn">log in</button><button class="btn">sign up</button></div>

  </header>  --}}
  <div class="main">
    {{{body}}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
    <footer class='footer'>
    <p>Made with &hearts; by Aubrey Ellis, Jessica Gardner, & Kris Green</p>
  </footer>

  </body>
  {{!-- <footer class='footer'>
    <p>Made with &hearts; by Aubrey Ellis, Jessica Gardner, & Kris Green</p>
  </footer> --}}
</html>
