<!DOCTYPE html>
<html>
  <head>
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  {{!-- <header>
     <div class="header">
    {{!-- <img src="images/icon-logo.png"/> --}}
    <h5>{{title}}</h5>
    </div>
  </header> --}}

  <body>
    <header class="header">
    <h5>{{title}}</h5>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
  </body>
  <footer class='footer'>
    <p>Made with &hearts; by Aubrey Ellis, Jessica Gardner, & Kris Green</p>
  </footer>

  {{!-- <div>
    <footer class='footer'>Made with &hearts; by Aubrey Ellis, Jessica Gardner, & Kris Green</footer>
  </div> --}}
</html>
