<!DOCTYPE html>
<html>
    <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body class="container">
      <header class="banner">
        <nav>
          <h1>CROWDed</h1>
        </nav>
      </header>
      </main>
      {{{body}}}
      </main>
      <footer class='footer'>
        <p>Made with &hearts; by Aubrey Ellis, Jess Gardner, & Kris Green</p>
        </footer>
    </body>
</html>