body {
padding: 50px;
font-family: 'Reenie Beanie', cursive;
display: flex;
flex-direction: column;
justify-content: center;
color:white;
font-size: 45px;
background-color:black;
}
.h1-index{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 120px;
  font-weight: bolder;
  text-decoration: unset;
}


p {
  display:flex;
  text-align: center;
  color:whitesmoke;
  justify-content: center;
  align-content: center;
  font-size: 200px;
  text-decoration:unset;
  text-decoration-style: bold;
  
}


 .body-index {
  background: url(http://i.imgur.com/pzrrANP.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  } 

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    color: #33353A;
    font-size: 55px;
    font-weight: 900;
}



a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto; 
    text-decoration: underline;
}



button {
    display: inline-block;
    padding: .938em 1.875em;
    border: .094em solid #25385F;
    border-radius: .625em;
    background-color: #9BB2E2;
    box-shadow: 0 0.375em 0.313em -0.313em rgba(0,0,0,.8), inset 0 0.063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0.063em #000;
    cursor: pointer;
    font: bold;
    margin: 15%;
}
button:hover {
   background-color:#FAF3C7;
   box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255, 255,.4), inset 0 -0.188em #804FAD;
}
button:active {
   box-shadow: inset 0 0 1.094em #472566, inset 0 .063em #390668, inset 0 -0.188em #682CA0, 0 .063em rgba(255,255,255,.4); 
}
.footer {
   position: sticky;
    left: 0;
    padding: 1rem;
    background-color: rgba(239, 239, 239, 0.65);
    text-align: center;
    font-size: medium;
    color: #201f21;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}



