body {
    display: flex;
    flex-direction: column;
     align-content: space-between; 
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0;
}
.body-index {
    background: url(/images/atlanta.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
} 

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    height:50px;
    background:#F0F0F0;
    /* border:1px solid #CCC; */
    width:100%;
    /* margin:0px auto; */
    padding: 10px;
}

#back-button {
    /* align-content: left; */
    margin-left: 5px;
    margin-right: auto;
}

#login-buttons {
    /* align-content: right; */
    margin-left: auto;
    margin-right: 22px;
}

.h1-index{
  /* display: flex;
  justify-content: center;
  align-content: center; */
  text-align: center;
  font-size: 120px;
  font-weight: bolder;
  -webkit-text-stroke: 1px white;
  /* text-decoration: unset; */
  margin-top: 50px;
 }

div.transbox {
    margin: auto;
    width: 500px;
    background-color: #ffffff;
    /* border: 1px solid black; */
    opacity: 0.6;
    filter: alpha(opacity=60);  /*For IE8 and earlier  */
}

div.transbox p {
    margin: 5%;
    color: #33353A;
    font-size: 40px;
    font-weight: 800;
}

.main {
     display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center; 
}

button.btn {
    display: inline-block;
    padding: .938em 1.875em;
    border: .094em solid #25385F;
    border-radius: .625em;
    background-color: #9BB2E2;
    box-shadow: 0 0.375em 0.313em -0.313em rgba(0,0,0,.8), inset 0 0.063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
    color: #FFF;
    text-transform: uppercase;
    /* text-decoration: none; */
    /* text-shadow: 0 0.063em #000; */
    cursor: pointer;
    font: bold;
    margin: 2px;
}

a:link {
    text-decoration: none;
}

button.btn:hover {
   color: #9BB2E2;
   background-color:white;
   /* box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255, 255,.4), inset 0 -0.188em #804FAD; */
}
button.btn:active {
    box-shadow: inset 0 0 1.094em #472566, inset 0 .063em #390668, inset 0 -0.188em #682CA0, 0 .063em rgba(255,255,255,.4);  
}


.footer { 
    /* left: 0; */
    /* padding: 5px; */
    background-color: rgba(239, 239, 239, 0.65);
    text-align: center;
    font-size: medium;
    color: #201f21;
    width: 100%;
    margin: 0 auto;
    /* margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px; */
}    
