<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-btn"><a href="/"><button class="btn">Home</button></a></div>
    <div id="login-btn"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>
<h1>New User</h1>

<div class="card form">
<form action="/users" method="POST">
    <input type="text"  placeholder="first name" name="first_name">
    <input type="text"  placeholder="last name" name="last_name">
    <input type="email" placeholder="email" name="email" required>
    <input type="password" placeholder="password" name="password" required>
    <input type="submit" value="Create">
</form>
</div>